In [1]:
import pandas as pd
import altair as alt

In [2]:
briefings_df = pd.read_csv('../data/whtfb/all_briefings.csv')

In [3]:
filepath = "../NRC-Sentiment-Emotion-Lexicons/NRC-Emotion-Lexicon-v0.92/NRC-Emotion-Lexicon-Wordlevel-v0.92.txt"
emolex_df = pd.read_csv(filepath,  names=["word", "emotion", "association"], skiprows=1, sep='\t')
emolex_df.head(12)

      word       emotion  association
0    aback         anger            0
1    aback  anticipation            0
2    aback       disgust            0
3    aback          fear            0
4    aback           joy            0
5    aback      negative            0
6    aback      positive            0
7    aback       sadness            0
8    aback      surprise            0
9    aback         trust            0
10  abacus         anger            0
11  abacus  anticipation            0

In [4]:
emolex_words = emolex_df.pivot(index='word', columns='emotion', values='association').reset_index()
emolex_words.head()

emotion,word,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
0,NaN,0,0,0,0,0,0,0,0,0,0
1,aback,0,0,0,0,0,0,0,0,0,0
2,abacus,0,0,0,0,0,0,0,0,0,1
3,abandon,0,0,0,1,0,1,0,1,0,0
4,abandoned,1,0,0,1,0,1,0,1,0,0

In [9]:
# briefings_df.text[0]
paragraph_words = briefings_df.text[0].split()
# briefings_df['emotions'] = emolex_words[pd.DataFrame(emolex_words.word.tolist()).isin(paragraph_words).any(1)].mean().sort_values(ascending = False).iloc[2:]

In [6]:
#https://stackoverflow.com/questions/53342715/pandas-dataframe-select-rows-where-a-list-column-contains-any-of-a-list-of-strin

In [10]:
emolex_words[pd.DataFrame(emolex_words.word.tolist()).isin(paragraph_words).any(1)]

emotion,word,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
992,badly,0,0,0,0,0,1,0,1,0,0
1504,break,0,0,0,0,0,0,0,0,1,0
2216,closed,0,0,0,0,0,0,0,0,0,0
2356,coming,0,1,0,0,0,0,0,0,0,0
4059,early,0,0,0,0,0,0,0,0,0,0
4652,extend,0,0,0,0,0,0,1,0,0,0
4918,fire,0,0,0,1,0,0,0,0,0,0
5528,good,0,1,0,0,1,0,1,0,1,1
5665,group,0,0,0,0,0,0,0,0,0,0
5877,hearts,0,0,0,0,0,0,0,0,0,0
6004,hit,1,0,0,0,0,1,0,0,0,0
8222,murderer,1,0,1,1,0,1,0,1,0,0
8487,number,0,0,0,0,0,0,0,0,0,0
9003,parts,0,0,0,0,0,0,0,0,0,0
9129,people,0,0,0,0,0,0,0,0,0,0
9702,pretty,0,1,0,0,1,0,1,0,0,1
10255,received,0,0,0,0,0,0,1,0,0,0
11202,send,0,0,0,0,0,0,0,0,0,0
12512,talented,0,0,0,0,0,0,0,0,0,0
12649,terrible,1,0,1,1,0,1,0,1,0,0
13742,virus,0,0,0,0,0,1,0,0,0,0
13976,wicked,0,0,0,1,0,1,0,0,0,0

In [11]:
emolex_words[pd.DataFrame(emolex_words.word.tolist()).isin(paragraph_words).any(1)].mean().sort_values(ascending = False).iloc[2:]

emotion
fear            0.181818
sadness         0.136364
anticipation    0.136364
anger           0.136364
trust           0.090909
surprise        0.090909
joy             0.090909
disgust         0.090909
dtype: float64

In [13]:
briefings_df

,date,timestamp,speaker,text
0,2020-02-26,05:39,Donald Trump,Thank you very much everybody. Thank you very ...
1,2020-02-26,06:59,Donald Trump,A lot of people thought we shouldn’t have done...
2,2020-02-26,07:51,Donald Trump,We have a total of 15. We took in some from Ja...
3,2020-02-26,09:58,Donald Trump,China you know about. Where it started. I spok...
4,2020-02-26,10:52,Donald Trump,"We’re bringing in a specialist, a very highly ..."
...,...,...,...,...
6374,2020-04-08,01:39:42,Deborah Birx,I asked the Vice President to give me a chance...
6375,2020-04-08,01:39:54,Mike Pence,Thank you. That’s a really important question ...
6376,2020-04-08,01:41:03,Mike Pence,"I think president Trump said today, nobody wan..."
6377,2020-04-08,01:42:11,Mike Pence,"Every American, let me again just say thank yo..."
6378,2020-04-08,01:43:25,Mike Pence,"Extraordinary progress in California, in Washi..."